.history h1 {
    position: relative;
    color: #000000;
    line-height: 1;
}

.history h1::before {
    content: "";
    /* ㄴ 이거 빼먹으면 아무것도 표현되지 않는답니다 */
    position: absolute;
    left: 7.15rem;
    top: 14px;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background: #fff;
    transform: translateY(-50%);
    border: 2px solid #000000;
    box-sizing: border-box;
}

.history div {
    position: relative;
    padding: 0 0 0 40px;
}

.history div::before {
    content: "";
    position: absolute;
    left: 10rem;
    top: 0;
    height: 100%;
    border-left: 2px solid #dddddd;
}

.history div:first-child:before {
    top: 10px;
    height: clac(100%-10px);
}

.history ol {
    padding-bottom: 2em;
}

.history li {
    color: #000;
    line-height: 30px;
}