@media (min-width: 1024px) {
    .history h1::before {
        content: "";
        /* ㄴ 이거 빼먹으면 아무것도 표현되지 않는답니다 */
        position: absolute;
        left: 19.45rem;
        top: 0.5em;
        width: 20px;
        border: 0.5px solid #000000;
        box-sizing: border-box;
    }

    .history div::before {
        content: "";
        position: absolute;
        left: 20rem;
        top: 0;
        height: 100%;
        border-left: 2px solid #dddddd;
    }

    .history div:first-child:before {
        top: 10px;
        height: clac(100%-10px);
    }
}